h1 {
    font-size: 100px;
}

/* Text colors */
.text-primary {
    color: #dbb021;
    font-size: 50px;
}

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #1b48c5;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

/* Features */
.box {
    width: 33.3%;
    padding: 20px 30px;
    text-align: center;
    border: black solid;
    background-color: #6173a34f;
}

.box:hover {
    opacity: 0.4;
}
/* Flex items */
.flex-items {
    display: flex;
    text-align: center;
    align-items: center;
}

.cloud-tile {
    background: url("../assets/img/tiles/cloud.png") no-repeat center
        center/cover;
}
.grass-tile {
    background: url("../assets/img/tiles/grass.webp") no-repeat center
        center/cover;
}
.rock-tile {
    background: url("../assets/img/tiles/rock.png") no-repeat center
        center/cover;
}
.soil-tile {
    background: url("../assets/img/tiles/soil.webp") no-repeat center
        center/cover;
}
.tree-tile {
    background: url("../assets/img/tiles/tree.png") no-repeat center
        center/cover;
}

.tree-leaves-tile {
    background: url("../assets/img/tiles/tree-leaves.png") no-repeat center
        center/cover;
}
